<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%=title%></title>

<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='bootstrap-css'  href='/assets/bootstrap/css/bootstrap.min7984.css?ver=3.3.4' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='/assets/font-awesome/css/font-awesome.minb2f9.css?ver=4.3.0' type='text/css' media='all' />
<link rel='stylesheet' id='nowknow-fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i' type='text/css' media='all' />
<link rel='stylesheet' id='nowknow-style-css'  href='/css/style2fca.css?ver=1.4.0' type='text/css' media='all' />
<style id='nowknow-style-inline-css' type='text/css'>
html,body{font-weight:400;font-size:14px;font-family:'Open Sans',sans-serif;color:#333333;}
h1,.h1{font-weight:600;font-size:36px;font-family:'Open Sans',sans-serif;color:#333333;}
h2,.h2{font-weight:600;font-size:30px;font-family:'Open Sans',sans-serif;color:#333333;}
h3,.h3{font-weight:600;font-size:24px;font-family:'Open Sans',sans-serif;color:#333333;}
h4,.h4{font-weight:600;font-size:18px;font-family:'Open Sans',sans-serif;color:#333333;}
h5,.h5{font-weight:600;font-size:14px;font-family:'Open Sans',sans-serif;color:#333333;}
h6,.h6{font-weight:600;font-size:12px;font-family:'Open Sans',sans-serif;color:#333333;}
a{color:#bb0000;}
a:hover,a:focus{color:#880000;}
.site-hero{background:#ff670f;}
</style>
<script type='text/javascript' src='/js/jquery/jquery4a80.js?ver=1.11.2'></script>
<script type='text/javascript' src='/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>

</head>